<html>
    <head>
        <style>
            
             h1 { text-align: center; }
        </style>
         </head>
    <body>
            <img src= <% @question.flag %>
            
           <h1>    
           <%= @question.question %>
           </h1>
    </body>
</html>