<html>
    <center>
    <body>
        <form action="/questions" method="post">
            <textarea name="question" placeholder="Question"></textarea>
            <input type="text" name="answer" placeholder="Answer">
            <input type="text" name="flag" placeholder="Flag">
            <input type="submit" value="Save">
        </form>
    </body>
    </center>
</html>