<html>
    <center>
    <body>
        <a href="/questions/new">New</a>
        <% @questions.each do |q| %>
            <div>
                <a href="questions/editid=<% q.id %>"></a>Edit</a>
                <%= q.question %>
                <%= q.answer %>
                
                <%case @country %>
                
<image height="100" src= "q.flag %">
            </div>
         
    </body>
    </center>
</html>

<% end %>
<% end %>   



