<html>
    <center>
    <body>
        <a href="/questions/new">New</a>
        <% @questions.each do |q| %>
            <div>
                <a href="questions/editid=<% q.id %>"></a>Edit</a>
                <%= q.question %>
                <%= q.answer %>
                
                <%case @country %>
 <Div> 
  <select name="Country">
  <option value="1">Russia</option>
  <option value="2">Canada</option>
  <option value="3">USA</option>
    <option value="4">China</option>
    <option value="5">Brazil</option>  
    
</select>
  </Div>                
                

# put code for your country here                
<%when 1%>

<img class="flag" src="http://www.symondsflags.com/wp-content/uploads/2014/09/russia-flag-300x180.jpg"><br>

# put code for your country here
<%when 2 %>
<img class="flag" src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cf/Flag_of_Canada.svg/1280px-Flag_of_Canada.svg.png"><br>

# put code for your country here
<%when 3 %>
<img class="flag" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1280px-Flag_of_the_United_States.svg.png"><br>

# put code for your country here

<%when 4 %>
<img class="flag" src="https://cdn.britannica.com/90/7490-004-415899A0.jpg"><br>

# put code for your country here

<%when 5 %>

<img class="flag" src="https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/1280px-Flag_of_Brazil.svg.png"><br>
<%else %>
<img class="flag" src="https://pbs.twimg.com/profile_images/580033286992433152/M3YnRHK8.png"><br>
<p>That country is not big enough!.</p>
 
                
<image height="100" src= "q.flag %">
            </div>
         
    </body>
    </center>
</html>

<% end %>
<% end %>   



