<center>
  <div>
      <h1>Contact Information</h1>
      <div>
        <form action="/contacts" method="post"><br>
    
            <input type="text" name="firstname" placeholder="First Name">
            <input type="text" name="lastname" placeholder="Last Name">
            <input type="number" name="phone" placeholder="Phone Number">
      </div><br>
      <div>
            <input type="email" name="email" placeholder="Email">
        
      </div><br>
      <p1></p1>
    
            <input type="text" name="address" placeholder="Address">
            <input type="text" name="city" placeholder="City">
            <input type="text" name="state" placeholder="State">
            <input type="number" name="zip" placeholder="Zip">
     
            <input type="submit" name="Save">
      </div>  
   </div>
         </form>   
</center>

