<form action="/courses/new" method="post">
	<div>
			<input type="text" name="name" placeholder="Course Name">

		</div>
		<div> 
			<input type="text" name="location" placeholder="Location">
		</div>
		<div>
			<textarea name="description" placeholder="Description"></textarea>
		</div>
		<div>
			<input type="submit" value="Save">
		</div>
	</form>
